<%= link_to " ", "http://www.rueduteeshirt.com/", :class => "tee-shirt-logo", :target => "_blank" %>
<%= link_to(" ", "#", :class => "permissions", :data => {:permissions => true}) %>
<div class="explanations">
  <p>
    <span class="bold">RueDuTeeShirt.com</span> et <span class="bold">Intraseec</span> sont fiers de vous annoncer leur premier concours ensemble, qui peut vous faire gagner des T-Shirts inédits, créés par des artistes internautes de talents.
  </p>
  <p>
    Le concours est un <span class="bold">tirage au sort</span>, il suffit simplement de remplir un formulaire en ligne de participation pour tenter sa chance.<br />
    Les vainqueurs pourront choisir le T-Shirt de leur choix dans la boutique RudDuTeeShirt.com !<br />
    Des badges Intraseec sont également en jeu.
  </p>
  <p>
    <span class="bold">Alors que la chance soit avec vous !</span>
  </p>
</div>
